/*Adornar mejor los fondos de los divs*/
body{
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
        "header header header"
        "Panel_bod Panel_bod Panel_nav"
        "footer footer footer";
    background-image:url("../img/Chemistry.jpg");
}

.header{
    font-family:Verdana;
    grid-area: header;
    border-style:groove;
    border-color: #18578C;
    border-width: thin;
    display: grid;
    grid-template-areas: 
    "logo encabezado encabezado";
    background-color: #acddf3dc;
}

.Botones{
    font:menu;
    background-color: transparent;
    border-style: none;
}

#logo{
    grid-area: logo;
    background: transparent;
}

#hName{
    grid-area: encabezado;
}

.Panel_bod{
    display: grid;
    grid-area: Panel_bod;
    grid-template-areas: 
    "Cuerpo Cuerpo Imagenes";
    grid-gap: 10px;
    border-style:solid;
    border-radius: 10px;
    border-color: #18578C;
    border-width: thin;
    background-color: #acddf3dc;
}

.Cuerpo{
    grid-area: Cuerpo;
    grid-template-rows: 100px 100px 100px;
}

.Imagenes{
    display: grid;
    grid-area: Imagenes;
    max-width: 70%;
    max-height: 70%;
}

.Imagen{
    width:50%;
}

.Panel_nav{
    grid-area: Panel_nav;
    border-style:solid;
    border-radius: 10px;
    border-color: #18578C;
    border-width: thin;
    background-color: #acddf3dc;
}

ul{
    display:grid;
    grid-gap: 20%;
}

.Cientifico{
    text-align: center;
    border-style: dashed;
    border-radius: 5px;
    background-color: rgb(77, 77, 77);
    margin: 10px;
}

.Imagenes{
    border-image: round;
    height: 90px;
    margin: 5px;
}

.Nombres{
    margin: 5px;
}

.footer{
    font-family: sans-family;
    grid-area: footer;
    font-size: large;
    text-align: center;
    font-weight: bolder;
    border-style: solid;
    border-color: #18578C;
    border-width: thin;
    background-color: #acddf3dc;
}
#git{
    width: 10%;
}